<div class="row">
	
	<div class="span11 offset2">
		<% for nugget in @nuggets %>
			<blockquote>
				
				<p><h2>to <%= link_to nugget.audience, :find_by => "audience", :audience_name => nugget.audience, :show_type => "audience" %>:</h2></p>
				<p>When you're <%= link_to nugget.topic, :find_by => "topic", :topic_name => nugget.topic, :show_type => "topic" %>, <%= nugget.body %>.</p><br/>
			
				<span class="nugget_actions pull-right">
					<small>
						Advice from <%= link_to first_name(nugget.user.name), user_path(nugget.user) %> | 
						<%= link_to 'View', nugget_path(nugget) %> 
						<% if can? :destroy, nugget %>
							| <%= link_to "Delete", nugget, :method => :delete, :confirm => "Are You deleting advice?" %>
						<% end %>
					</small>
				</span>
				
			</blockquote>
			<hr />
			<br/>
		<% end %>
		
	</div>
	
	<div class="span3">
		<%= link_to "browse all by topic", :action => 'index', :show_type => 'topic' %>
	</div>
	
</div>


<div class="row">
	<div class="span11 offset2">
		<div class="pagination">
			<%= will_paginate %>
		</div>
	</div>
</div>
