<% if !@title.nil? %>
	<div class="row">
		<div class="span7">
			<h1>All Specific Advice<br> about <%= @title %></h1>
		</div>
		<div class="span4">
			<%= render "shared/page_header_button" %>
			<span class="pull-right">
				<br>
				<%= link_to "back to recent advice", nuggets_path %>
			</span>
		</div>
	</div>
<% else %>
	<div class="row">
		<div class="span7">
			<h1>All Recent Advice<br> about What to Do</h1>
		</div>
		<div class="span4">
			<%= render "shared/page_header_button" %>
			<span class="pull-right">
				<br>
				<%= link_to "advice for people", :action => 'index', :show_type => 'audience' %>
			</span>
		</div>
	</div>
<% end %>