<div class="row">
	<div class="span11">
		<% if !@title.nil? %>
			<h1>Browse Specific Advice</h1>
			<strong>about <%= @title %></strong> | <%= link_to "back to all", nuggets_path %>
		<% else %>
			<h1>Browse All Advice</h1>
		  <strong>by topic</strong> | <%= link_to "by audience", :action => 'index', :show_type => 'audience' %>
		<% end %>
	</div>
</div>

<hr>

<div class="row">
	<div class="nugget span11">
		
		<% for nugget in @nuggets %>
			<blockquote>
				
				<p><h3>when <%= link_to nugget.topic, :find_by => "topic", :topic_name => nugget.topic, :show_type => "topic" %>,</h3></p>
				<p><%= link_to nugget.audience, :find_by => "audience", :audience_name => nugget.audience, :show_type => "audience" %> should <%= nugget.body %>.</p><br/>
			
				<span class="nugget_actions pull-right">
					<small>
						Advice from <%= link_to first_name(nugget.user.name), user_path(nugget.user) %> | 
						<%= link_to 'View', nugget_path(nugget) %> 
						<% if can? :destroy, nugget %>
							| <%= link_to "Delete", nugget, :method => :delete, :confirm => "Are You deleting advice?" %>
						<% end %>
					</small>
				</span>
		
			</blockquote>
			<hr />
			<br/>
		<% end %>
		
	</div>
</div>

<div class="row">
	<div class="span11">
		<div class="pagination">
			<%= will_paginate @nuggets %>
		</div>
	</div>
</div>
