<% if !@title.nil? %>
	<div class="row">
		<div class="span6">
			<h1>Browse Specific Advice</h1>
			<strong>about <%= @title %></strong> | <%= link_to "back to all", nuggets_path %>
		</div>
		<div class="span5">
			<%= render "shared/page_header_button" %>
		</div>
	</div>
<% else %>
	<div class="row">
		<div class="span6">
			<h1>Browse All Advice</h1>
	  	<strong>by topic</strong> | <%= link_to "by audience", :action => 'index', :show_type => 'audience' %>
		</div>
		<div class="span5">
			<%= render "shared/page_header_button" %>
		</div>
	</div>
<% end %>