<div class="row">
	<div class="span14 offset2">
		<div class="page-header">
			<h6>Peep This</h6>
		</div>
	</div>
</div>

<div class="row">
	<div class="span10 offset2">
		
		<div class="page-header">
			<h1>When <%= @nugget.topic %>,</h1>
			<h4><%= @nugget.audience %> should <%= @nugget.body %>.</h4>
		</div>
		
		<div class="row">
			<span class="pull-right">more advice from <%= link_to @nugget.user.name, user_path(@nugget.user) %> | <%= link_to "all advice", nuggets_path %></span>
			
			<br>
			<br>
			
			<span class="pull-right">
				<a href="https://twitter.com/share?url=https%3A%2F%2Fdev.twitter.com&amp;text=Advice%20for%20<%= @nugget.audience %>%20about%20<%= @nugget.topic %>..." class="twitter-share-button" data-count="none">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script><br/>
			</span>
		</div>
		
	</div>
</div>