<div class="row">
	<div class="span8 offset4">
		
		<div class="page-header">
			<h2>Update</h2>
		</div>
		
		<div class="row">
			<div class="span2">
				<%= image_tag(@user.image) %><br />
				<%= link_to "Back to Profile", user_path(@user) %>
			</div>
			<div class="span6">
				
				<div class="form-stacked">
					<fieldset>

						<%= form_for @user do |f| -%>
							<p>
								<%= f.text_field :name %>
							</p>
							<p>
								<%= f.label :description, "Why is your advice valuable?" %>
								<%= f.text_area :description, :rows => 5 %>
							</p>
							<p>
								<%= f.submit "update", :class => "btn primary" %>
							</p>
						<% end -%>

						<div class="page-header">
							<h6>Other Actions</h6>
						</div>
						<%= link_to "Remove My Account", @user, :method => :delete, :confirm => "Are you sure?", :class => "btn success" %>


					</fieldset>
				</div>
				
			</div>
			
		</div>	
		
	</div>
</div>






<%= link_to "End My Account", @user, :method => :delete, :confirm => "Are you sure?", :class => "btn success" %>

<br >

<%= link_to "All Advice", nuggets_path %>