<div class="row">
	<div class="span8 offset4">
		
		<div class="page-header">
			<h2>Settings</h2>
		</div>
		
		<div class="row">
			<div class="span2">
				<%= image_tag(@user.image) %><br />
			</div>
			<div class="span6">
				
				<div class="form-stacked">
					<fieldset>

						<%= form_for @user do |f| -%>
							<p>
								<%= f.text_field :name %>
							</p>
							<p>
								<%= f.label :description, "Tell people your experience" %>
								<%= f.text_area :description, :rows => 5 %>
							</p>
							<p>
								<%= f.submit "update", :class => "btn large primary" %> 
								<%= link_to "(or back to profile)", user_path(@user) %>
							</p>
						<% end -%>

						<div class="page-header">
							<h6>Other Actions</h6>
						</div>
						<%= link_to "remove my account", @user, :method => :delete, :confirm => "Delete your account?", :class => "btn error" %>


					</fieldset>
				</div>
				
			</div>
			
		</div>	
		
	</div>
</div>