<div class="row">
	<div class="span11 offset2">
		
		<div class="row">
			<div class="page-header">
				<h1><%= @user.name %> <small>@<%= @user.nickname %></small></h1>
			</div>
		</div>
		
		<div class="row">
			<div class="span1">
				<%= image_tag(@user.image) %>
			</div>
			<div class="span6">
				<p><%= @user.description %></p>
			</div>

			<div class="span4">
				<% if can? :edit, @user %>
					<span class="pull-right">
						<%= link_to "settings", edit_user_path(@user), :class => "btn large" %>
					</span>
				<% end %>
			</div>
		</div>
		
	</div>
	
	<% if !current_user %>
		<span class="pull-right">
			<%= link_to "Sign up now", "/auth/twitter", :class => "btn large primary" %>
		</span>
	<% end %>
	
</div>

<br>

<div class="row">
	<div class="span11 offset2">
		<div class="page-header">
			<h6><%= first_name(@user.name) %>'s advice</h6>
		</div>
	</div>
</div>

<%= render "shared/users_nuggets" %>

<div class="row">
	<div class="span11 offset2">
		<div class="pagination">
			<%= will_paginate @nuggets %>
		</div>
	</div>
</div>
