<%= render "shared/new_nugget_form" %>

<h1>Profile</h1>

<%= @user.name %><br/>
<%= @user.description %><br/>
<%= image_tag(@user.image) %><br/>

<p>When it comes to</p>
<%= render "shared/users_nuggets" %>