<%= render "shared/new_nugget_form" %>


<div class="row">
	<div class="span14 offset2">
		
		<div class="page-header">
			<h6>Why listen to <%= @user.name %>?</h6>
		</div>
		
		<div class="span1">
			<%= image_tag(@user.image) %>
		</div>
		<div class="span6">
			<p><%= @user.description %></p>
		</div>

		<div class="span3">
			<span class="pull-right">
				<% if can? :edit, @user %>
					<%= link_to "my settings", edit_user_path(@user) %>
				<% end %>
			</span>
		</div>
		
		<div class="span3">
			<span class="pull-right">
				<%= link_to "back to all advice", nuggets_path %>
			</span>
		</div>

		
	</div>
</div>

<br/>

<div class="row">
	<div class="span11 offset2">
		
		<div class="page-header">
			<h6>my advice about</h6>
		</div>
	</div>
</div>

<%= render "shared/users_nuggets" %>
