<div class="row">
	<div class="span14 offset2">
		
		<div class="page-header">
			<h6><%= first_name(@user.name) %> | @<%= @user.nickname %></h6>
		</div>
		
		<div class="span1">
			<%= image_tag(@user.image) %>
		</div>
		<div class="span6">
			<p><%= @user.description %></p>
		</div>

		<div class="span6">
			<% if can? :edit, @user %>
				<span class="pull-right">
					<%= link_to "settings", edit_user_path(@user), :class => "btn large" %>
				</span>
			<% end %>
		</div>
		
	</div>
</div>
<br>

<div class="row">
	<div class="span11 offset2">
		<div class="page-header">
			<h6><%= first_name(@user.name) %>'s <%= pluralize(@user.nuggets.count, "Piece")%> of Advice</h6>
		</div>
	</div>
</div>

<%= render "shared/users_nuggets" %>

<div class="row">
	<div class="span11 offset2">
		<div class="pagination">
			<%= will_paginate @nuggets %>
		</div>
	</div>
</div>
