<div class="page-header">
	<h1>What's your advice?</h1>

	<div class="new-nugget">
		<div class="span16">

			<form-stacked>
				<fieldset>
		
					<div class="clearfix">
						<div class="input">

							<%= form_for @nugget do |f| -%>
								<div class="inline-inputs">
						
									<strong>My advice to</strong>
									<%= f.text_field :audience, :class => "span3", :placeholder => "college students" %>
						
									<strong>about</strong>
									<%= f.text_field :topic, :class => "span3", :placeholder => "going to class" %>
						
									<strong>is that you should</strong>
									<%= f.text_field :body, :rows => 2,  :class => "span4", :placeholder => "just go to the ones that interest you"  %>
									.
									<%= f.submit "Tell 'em", :class => "btn primary" %>

								<div>
							<% end -%>

						</div>
					</div>

				</fieldset>
			</form-stacked>
		
		</div>
	</div>

</div>

