<div class="new-nugget">

	<form-stacked>
	<fieldset>

		<div class="clearfix">
			<div class="input">

				<%= form_for @nugget do |f| -%>
					<div class="page-header">
						<h2>What's your advice today?</h2>
					</div>
				
					<div class="inline-inputs">
		
						<h5>
							My advice to
								<% if @nuggets.nil? %>
									<%= f.text_field :audience, :class => "span4", :placeholder => "new entrepreneurs" %>
								<% else %>
								  <%= f.text_field :audience, :class => "span4", :placeholder => @nuggets.first.audience %>
								<% end %>
							
							about 
								<% if @nuggets.nil? %>
									<%= f.text_field :topic, :class => "span4", :placeholder => "hiring your first founders" %>:<br/>
								<% else %>
								  <%= f.text_field :topic, :class => "span4", :placeholder => @nuggets.first.topic %>:<br/>
								<% end %>
								
							You should <%= f.text_field :body, :rows => 2,  :class => "span9", :placeholder => "give your advice here..."  %>.
						</h5>
	
						<br/>
					
						<%= f.submit "Post it", :class => "btn large primary" %>

					<div>
				<% end -%>

			</div>
		</div>

	</fieldset>
	</form-stacked>

</div>
