<div class="span11 offset2">
	<div class="page-header">
		<h2>What's your advice?</h2>
	</div>
</div>


<form-stacked>
<fieldset>

	<div class="clearfix">
		<div class="input">

			<%= form_for @nugget do |f| -%>
			<div class="well">			
	
				<h4>
					My advice to
					<%= f.text_field :audience, :class => "span4", :placeholder => "a person or	 group of people" %>:
				</h4>
				
				<br>
					
				<h4>	
					when you're <%= f.text_field :topic, :class => "span4", :placeholder => "doing something" %>, 
					you should <%= f.text_field :body, :rows => 2,  :class => "span6", :placeholder => "do this thing"  %> .
				</h4>

				<br/>
			
				<%= f.submit "post it", :class => "btn large success" %>
				
			</div>
			<% end -%>

		</div>
	</div>

</fieldset>
</form-stacked>