<div class="span11 offset2">
	<div class="page-header">
		<h2>What's your advice?</h2>
	</div>
</div>


<form-stacked>
<fieldset>

	<div class="clearfix">
		<div class="input">

			<%= form_for @nugget do |f| -%>
			<div class="well">			
	
					<h4>
						My advice to
							<% if @nuggets.nil? %>
								<%= f.text_field :audience, :class => "span4", :placeholder => "new entrepreneurs" %>
							<% else %>
							  <%= f.text_field :audience, :class => "span4", :placeholder => @nuggets.first.audience %>
							<% end %>:
					</h4>
					
					<br>
						
					<h4>	
						when you're
							<% if @nuggets.nil? %>
								<%= f.text_field :topic, :class => "span4", :placeholder => "hiring your first founders" %>
							<% else %>
							  <%= f.text_field :topic, :class => "span4", :placeholder => @nuggets.first.topic %>
							<% end %>,

						you should <%= f.text_field :body, :rows => 2,  :class => "span6", :placeholder => "give your advice here..."  %> .
					</h4>


					<br/>
				
					<%= f.submit "post it", :class => "btn large success" %>
				
			</div>
			<% end -%>

		</div>
	</div>

</fieldset>
</form-stacked>