<div class="row">
	
	<div class="span11 offset2">
		<% for nugget in @nuggets %>
			<blockquote>
				
				<h2><%= nugget.topic	 %>:</h2>
				<p><strong><%= nugget.audience %></strong> should <%= nugget.body %>.</p><br/>
			
				<span class="pull-right">
					<small> 
						<%= link_to 'View', nugget_path(nugget) %> 
						<% if can? :destroy, nugget %>
							| <%= link_to "Delete", nugget, :method => :delete, :confirm => "Are You deleting advice?" %>
						<% end %>
					</small>
				</span>
		
			</blockquote>
			<hr />
			<br/>
		<% end %>
	</div>

</div>

