<% if !@nuggets.blank? %>
  <% for nugget in @nuggets %>

	<div class="row">
		<div class="span14 offset2">
			
			<div class="row">
				
				<div class="span11">
					<h2>on <%= nugget.topic %>:</h2>
					<h5><%= nugget.audience %> should <%= nugget.body %>.</h5>
				</div>
				<div class="span1">
					<span class="pull-right"><%= link_to 'view', nugget_path(nugget) %></span>
					<% if can? :destroy, nugget %>
						<span class="pull-right"><%= link_to "delete", nugget, :method => :delete, :confirm => "Are You deleting advice?" %></span>
					<% end %>
				</div>
				
			</div>
			<hr>
		
		</div>
	</div>

	<% end %>
<% else %>
	<h2>They've given no advice yet...</h2>
<% end %>
