<div class="row">
	
	<div class="span11 offset2">
		<% for nugget in @nuggets %>
			<blockquote>
				
				<h2>On <%= link_to nugget.topic, :controller => :nuggets, :action => :index, :find_by => "topic", :topic_name => nugget.topic, :show_type => "topic" %>:</h2>
				<p><%= link_to nugget.audience, :controller => :nuggets, :action => :index, :find_by => "audience", :audience_name => nugget.audience, :show_type => "audience" %> should <%= nugget.body %>.</p><br/>
			
				<span class="nugget_actions pull-right">
					<small> 
						<%= link_to 'View', nugget_path(nugget) %> 
						<% if can? :destroy, nugget %>
							| <%= link_to "Delete", nugget, :method => :delete, :confirm => "Are You deleting advice?" %>
						<% end %>
					</small>
				</span>
		
			</blockquote>
			<hr />
			<br/>
		<% end %>
	</div>

</div>

