<!DOCTYPE html>
<html>
<head>
  <title>Plaidvice</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="topbar">
	<div class="topbar-inner">
		<div class="container">
			<div class="brand">
				<%= link_to "Plaidvice", root_path %>
			</div>
			<ul class="nav">
				<% if current_user %>
					<li><%= link_to "Sign Out", signout_path %></li>
					<li><%= link_to "Profile", user_path(current_user.id) %></li>
					<li><%= link_to "Settings", edit_user_path(current_user.id) %></li>
					<li><%= link_to "People", users_path %></li>
				<% else %>
			  	<li><%= link_to "Sign In", "/auth/twitter" %></li>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="bodycontainer">

	<% flash.each do |key, value| %>
		<div class="alert-message <%= key %>"><%= value %></div>
	<% end %>

	<%= yield %>
</div>

<%= debug(params) if Rails.env.development? %>

</body>
</html>
