<!DOCTYPE html>
<html>
<head>
  <title>Plaidvice</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="topbar">
	<div class="fill">
		<div class="container">
			<div class="brand"><%= link_to "Plaidvice", root_path %></div>
				<div class="pull-right">
					<ul>
						<% if current_user %>
							<li><%= link_to "Advice", nuggets_path %></li>
							<li><%= link_to "Advisors", users_path %></li>
							<li><%= link_to "Profile", user_path(current_user.id) %></li>
							<li><%= link_to "Sign Out", signout_path %></li>
						<% else %>
					  	<li><%= link_to "Sign In", "/auth/twitter" %></li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div id="main-content">
		
		<% flash.each do |key, value| %>
			<div class="alert-message <%= key %>"><%= value %></div>
		<% end %>
		
		<%= yield %>
		
	</div>
</div>

<%= debug(params) if Rails.env.development? %>

</body>
</html>
